### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.classpath
.factorypath
.project
.settings/
bin/

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### System ###
.DS_Store